RewriteEngine On
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ https://%{HTTP_HOST} [R=301,L]

RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} (.*)
RewriteCond %{REQUEST_URI} /$ [NC]
RewriteRule ^(.*)(/)$ https://%{HTTP_HOST}/$1 [L,R=301]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php

Redirect 301 /cena-ot-1500-do-2000 /deshevye-prostitutki
Redirect 301 /cena-ot-2000-do-3000 /deshevye-prostitutki
Redirect 301 /cena-/deshevye-prostitutki /deshevye-prostitutki
Redirect 301 /metro-Kommunarka /metro-kommunarka

php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off
php_value docref_root 0
php_value docref_ext 0
